<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:extractNativeLibs="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:memtagMode="off"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PingLauncher"
        tools:targetApi="31">
        <activity android:name=".presentation.CrashReportActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity android:name=".presentation.ModPackDetailActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity android:name=".presentation.JvmSettingsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity android:name=".presentation.KeyboardLayoutEditorActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity android:name=".presentation.ModPackBrowserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"/>
        <activity
            android:name=".presentation.MinecraftActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:process=":minecraft" />
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.PingLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>